  <body>

  <div class="contents">
      <div class="first-view">
      <img src="2018_13_MEkkmTI.jpg" alt="トップ画面" class="top-image"><!-- 『トップ画像』を表示する -->
      <p>FITNESS</p>
      </div>

      <div class="upper-content"><!-- 『投稿画像』を表示する -->
      <h2 class="heading-name">投稿一覧</h2>
      <div class="subtitle">新規投稿</div>
      <ul class="items-list">
      <% @posts.each do |post| %>
      <li class="list">
        <%= link_to post_path(post.id) do %>
        <div class='item-img-content'>
          <%= image_tag post.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= post.name %>
          </h3>
        </div>
        <% end %>
      <% end %>
      </li>
      </div>
      </li>
      </ul>
      </div>
      <section class="wrapper">
        <div class="container">
          <div class="content">
            <div class="content-item">
              <img src="46efd50ea58c1abddba76a9277634f56-683x683.jpeg" class="image">
            </div>    
            <div class="content-item">
              <div class="text">
                <h2 class="heading">上半身</h2>
                <p><br>Fitnessをはじめる誰しもが真っ先に理想を思い浮かべる部位こそ上半身に詰まっているといっても過言ではない。
                ではなぜ、多くの人を魅了するのか。そんな上半身の魅力と効率的なトレーニングについて紹介したい。</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wrapper1">
        <div class="container1">
          <div class="content1">
            <div class="content-item1">
              <img src="1109-Barbell-Back-Squat-GettyImages-614107160.jpeg" class="image1">
            </div>    
            <div class="content-item1">
              <div class="text1">
                <h2 class="heading1">下半身</h2>
                <p><br>トレーニング中級者が上級者になるために避けては通れない壁といっていいだろう。どれだけハードにトレーニング
                できたとしても、下半身で追い込めなければまだまだ上級者には到達できない。それだけキツく、多くの人のヘイトが溜まりやすい部位それが下半身である。
                そんな下半身の効率的トレーニングを紹介したい。</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      </div>
      <div class="bottom-content"><!-- 『フォーム』を表示する -->
      </div>
  </div>
  </body>
