<h1>新規投稿ページ</h1>
<form class="body-form">
<h2 class="body-name">Muscle Share</h2>
<input type="text" placeholder="name" class="small-field">
<input type="text" placeholder="e-mail" class="small-field">
<textarea placeholder="message" class="large-field"></textarea>
<input type="submit" value="SEND" class="send">
</form>