/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0 10px;
  margin: 0;
  display: flex;
}
/* ヘッダー */
header {
  height: 50px;
  background-color: whitesmoke;
  padding: 10px 0;
  display: flex;
}
.heading {
  width: 50%;
  margin-left: 30px;
}
.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}


/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
.contents {
  background-color: white;
}

.top-image{
  height: 100%;
  width: 100%;
}

.first-view{
  height: 100vh;
  position: relative;
}
.first-view p {
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 80px;
}

/* 投稿一覧 */
.upper-content{
  background-color:pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}
.upper-content>.heading-name {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}
.upper-content>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}
.heading-name {
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: 30px auto;
}
.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.item-img {
  width: 33vh;
  height: 33vh;
}
.item-info {
  background-color: whitesmoke;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.0vh;
  width: 30vh;
}

/* トレーニング紹介 */
.wrapper{
  width:100%;
  background-color:#fafafa;
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper .container .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.wrapper .content-item {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper .content-item {
      width:50%;
  }
}
.wrapper .image{
  display:block;
  max-width:100%;
  margin:0px auto;
  height: 550px;
}
.wrapper .text{
  padding:50px;
}
.wrapper .text .heading{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
/*逆レイアウト*/
.wrapper1{
  width:100%;
  background-color:#fafafa;
}
.wrapper1 .container1{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper1 .container1 .content1 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
/* PC時のみ順番を入れ替える */
@media (min-width: 992px) {
  .wrapper1 .content1 {
      flex-direction:row-reverse;
  }
}
.wrapper1 .content-item1 {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper1 .content-item1 {
      width:50%;
  }
}
.wrapper1 .image1{
  display:block;
  max-width:100%;
  margin:0px auto;
  height: 400px;
}
.wrapper1 .text1{
  padding:50px;
}
.wrapper1 .text1 .heading1{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
/*ボタン*/
a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

/* フォーム */
.bottom-content {
  height: 100px;
  margin: 0 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-field, .large-field {
  width: 800px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: lightblue;
  color:white;
  display: block;
}

/* フッター */
footer {
  height: 50px;
  background-color: whitesmoke;
  text-align: center;
  color: gray;
}

/* 詳細ページ */
.item-box-img{
  width: 80%;
  height: auto;
}
.item-img-content{
  width: 70%;
}

.muscle-share{
  text-align: right;
  position: relative;
  right: 50px;
  bottom: 70vh;
}
